* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  scroll-behavior: smooth;
  font-family: 'Audiowide', cursive;
  overflow-x: hidden;
}

/* Navigation */
nav {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  background-color: #232a3b;
  position: relative;
  /* overflow: hidden; */
}

h1 {
  font-size: 1.8rem;
  margin-top: 1.2rem;
  margin-left: 3rem;
  color: #fff;
}

h1 span {
  color: #44c184;
}

h1 a {
  text-decoration: none;
  color: #fff;
}

nav ul {
  list-style: none;
  display: flex;
  margin-right: 5rem;
}

nav li {
  margin-top: 1.7rem;
  margin-right: 2.3rem;
}

nav li a {
  text-decoration: none;
  color: #fff;
  font-family: Poppins;
  font-weight: 300;
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10rem 0 0 2rem;
  }

  .navbar-menu {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 100px);
    position: absolute;
    width: 100%;
    top: -1000px;
  }

  .navbar-menu.active {
    top: 100%;
    opacity: 1;
    z-index: 99;
    height: 100vh;
    font-size: 1.5rem;
    background: black;
  }

  .navbar-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: white;
    display: block;
    cursor: pointer;
  }

  #mobile-menu {
    position: absolute;
    top: 20%;
    right: 5%;
    transform: translate(5%, 20%);
  }

  #mobile-menu.is-active .bar:nth-child(2) {
    opacity: 0;
  }

  #mobile-menu.is-active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  #mobile-menu.is-active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

/* Header/Hero Section*/
header {
  height: 90vh;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)),
    url(/img/gym-hero.jpg);
  background-size: cover;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  /* overflow: hidden; */
}

.hero-content {
  padding: 3rem 0;
  margin-left: 3rem;
  margin-top: 7rem;
}

.hero-content h2 {
  /* clamp - adjusts screen size, check docs */
  font-size: clamp(2rem, 8vw, 3rem);
  text-transform: uppercase;
}

.hero-content p {
  font-size: clamp(1rem, 4vw, 2.5rem);
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  font-family: 'Poppins', sans-serif;
}

.btn {
  padding: 1rem 3rem;
  border: none;
  text-decoration: none;
  background: red;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  outline: none;
  border-radius: 4px;
  transition: all 0.5s ease;
  border: 1px solid red;
}

.btn:hover {
  color: red;
  background: white;
  border: 1px solid red;
}

/* Services Section */
.services {
  padding: 5rem 4rem 5rem 0;
  font-family: Poppins;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
}

.topline {
  color: red;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.services-heading {
  margin-bottom: 1rem;
  font-size: clamp(2rem, 6vw, 3rem);
}

.services-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.services-features {
  padding: 1rem 5rem;
}

.services-feature {
  margin-bottom: 1.5rem;
  font-size: clamp(1rem, 5vw, 1.2rem);
}

.fa-check-circle {
  margin-right: 0.5rem;
  color: red;
}

@media screen and (max-width: 768px) {
  .services {
    padding: 1.5rem 0;
  }

  .services-container {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .services-features {
    padding: 0;
  }
}

/* Membership Section */
.membership {
  background: black;
  color: white;
  padding: 2rem 6rem;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.membership h2 {
  margin-bottom: 1rem;
  font-size: clamp(2rem, 5vw, 3rem);
  padding: 0 1rem;
}

.membership-description {
  margin-bottom: 3rem;
  font-size: clamp(1rem, 3vw, 1.5rem);
  padding: 1rem;
}

.membership-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
}

.membership-card {
  padding: 2rem;
  min-height: 450px;
  width: 325px;
  background: white;
  color: black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.membership-perks {
  min-height: 150px;
}

.membership-card p {
  margin-bottom: 1rem;
}

.card-icon {
  font-size: 3rem;
  margin-bottom: 2rem;
  color: red;
}

.membership-card h3 {
  font-size: clamp(1rem, 5vw, 2rem);
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1100px) {
  .membership {
    padding: 4rem 0;
  }

  .membership-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .membership-card {
    width: 90%;
    margin-bottom: 2rem;
  }
}

/* Team Section */
.team {
  padding: 4rem 5rem;
  font-family: 'Poppins', sans-serif;
}

.team-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto, 350px);
}

.team-card {
  margin: 1rem;
  border-radius: 10px;
  position: relative;
}

.team-text {
  padding: 1rem;
}

.team-text h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.team-description {
  font-size: clamp(1rem, 3vw, 1.3rem);
  line-height: 1.4;
}

.team-card p {
  position: absolute;
  bottom: 30px;
  color: white;
  left: 25px;
  font-size: 3rem;
}

.team-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team-text:nth-child(1) {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

.team-text:nth-child(2) {
  grid-row: 5 / 6;
  grid-column: 1 / 2;
}

.team-card:nth-child(3) {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
}

.team-card:nth-child(4) {
  grid-row: 2 / 4;
  grid-column: 2 / 3;
}

.team-card:nth-child(5) {
  grid-row: 3 / 5;
  grid-column: 1 / 2;
}

.team-card:nth-child(6) {
  grid-row: 4 / 6;
  grid-column: 2 / 3;
}

@media screen and (max-width: 768px) {
  .team {
    padding: 3rem 0;
  }

  .team-wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .team-text:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  .team-text:nth-child(2) {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
  }

  .team-card:nth-child(3) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  .team-card:nth-child(4) {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
  }

  .team-card:nth-child(5) {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
  }

  .team-card:nth-child(6) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
}

/* Form Section */
.email {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.7) 35%,
      rgba(0, 0, 0, 0.1) 100%
    ),
    url(/img/gym-hero.jpg) no-repeat center;
  background-size: cover;
  height: 450px;
  width: 100%;
  padding: 5rem 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.email-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.email-content h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: clamp(1rem, 5vw, 3rem);
}

.email-content p {
  text-align: center;
  font-size: clamp(1rem, 2.5vw, 1.5rem);
  padding: 0 1rem;
  margin-bottom: 2rem;
}

form {
  z-index: 10;
}

.form-wrap input {
  padding: 1rem;
  outline: none;
  width: 350px;
  height: 50px;
  border: none;
  margin-right: 1rem;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  .form-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
  }

  .form-wrap input {
    margin-bottom: 1rem;
    margin-right: 0;
    width: 100%;
  }

  button {
    width: 100%;
    min-width: 350px;
  }
}

@media screen and (max-width: 480px) {
  button {
    width: 100%;
    min-width: 250px;
  }
}

/* Footer Section */
.footer {
  font-family: 'Poppins', sans-serif;
  padding: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  color: white;
  background: black;
}

.footer-description {
  padding: 0 2rem;
}

.footer-description h2 {
  font-family: 'Audiowide', cursive;
  margin-bottom: 2rem;
  color: white;
  font-size: 1.5rem;
}

.footer-description h2 span {
  font-family: 'Audiowide', cursive;
  color: #44c184;
}

.footer-description p {
  margin-bottom: 1rem;
}

#phone {
  font-weight: bold;
  font-size: 1.2rem;
}

.footer-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 2rem;
}

.footer-title {
  font-size: 14px;
  margin-bottom: 16px;
}

.footer-link {
  text-decoration: none;
  color: rgb(242, 242, 242);
  font-size: 14px;
  margin-bottom: 0.5rem;
  transition: 0.3s ease-in-out;
}

.footer-link:hover {
  color: red;
}

@media screen and (max-width: 820px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 400px) {
  .footer-description {
    padding: 1rem;
  }

  .footer-links {
    padding: 1rem;
  }
}

/* Form Section */
.contact-form {
  font-family: 'Poppins', sans-serif;
}

.form-col-right h2 {
  letter-spacing: 2px;
  padding: 1rem 0;
  opacity: 0.9;
}

.text {
  font-weight: 300;
  line-height: 1.7;
  padding: 0.5rem 0;
}

#submit-btn,
#login-btn {
  border: none;
  outline: 0;
  display: block;
  margin: 1.5rem 0;
  font-family: inherit;
  font-size: 0.9rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  background: red;
  color: white;
  padding: 0.85rem 2rem;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.4s ease-in-out;
}

#submit-btn {
  border-color: red;
  margin-top: 0.6rem;
}

#submit-btn:hover {
  border-color: red;
  background: white;
  color: red;
}

#login-btn:hover {
  background: white;
  color: red;
}

.fa-long-arrow-alt-right {
  margin-left: 3px;
}

.contact-form {
  min-height: 100vh;
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-row {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  margin: 3rem 0;
  max-width: 1080px;
  box-shadow: 0 0 20px -3px rgba(160, 160, 160, 0.7);
}

.form-row > div {
  padding: 2rem 3rem;
}

.form-col-right {
  flex: 1;
  background: red;
  color: white;
}

.form-col-left h2 {
  color: red;
}

.form-item {
  margin: 1.5rem;
}

.form-item label {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 600;
  margin-bottom: 0.7rem;
  display: block;
}

.form-group {
  padding: 0.5rem 0;
  display: grid;
  grid-template-columns: 25px auto;
  align-items: center;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
}

.form-group span {
  opacity: 0.8;
}

.form-control {
  width: 100%;
  border: none;
  outline: 0;
  font-size: 1rem;
  font-family: inherit;
  font-weight: 300;
  letter-spacing: 1px;
  padding-left: 0.4rem;
}

.form-control::placeholder {
  opacity: 0.8;
  text-transform: capitalize;
}

.submission-status {
  margin-top: 0.6rem;
  padding: 0.6rem 0;
  letter-spacing: 1px;
  display: block;
  font-weight: 500;
  visibility: hidden;
}

/* Media Queries */
@media screen and (min-width: 600px) {
  .form-item-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.8rem;
  }

  .form-item {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-wrapper {
    margin-right: 3rem;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 992px) {
  .form-row {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }

  .form-col-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

/* messages */
.error {
  border-color: red;
}

.success {
  border-color: #28a745;
}

.errorMessage {
  visibility: visible;
  color: red;
}

.successMessage {
  visibility: visible;
  color: #28a745;
}
